/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'

.apple        { background-color: #D13834 }
.banana       { background-color: #F8D81D }
.blueberries  { background-color: #415CCE }
.cherries     { background-color: #ED3F32 }
.coconut      { background-color: #7F532F }
.fig          { background-color: #9B8291 }
.grapes       { background-color: #9979A9 }
.hazelnut     { background-color: #914D2B }
.lemon        { background-color: #F9D60E }
.lime         { background-color: #88C057 }
.orange       { background-color: #ED8F20 }
.peach        { background-color: #E58D51 }
.pear         { background-color: #D7CC56 }
.pineapple    { background-color: #E4B34F }
.pistachio    { background-color: #B6BE16 }
.pomegranate  { background-color: #D13834 }
.raspberry    { background-color: #C72A6B }
.seeds        { background-color: #56413E }
.strawberry   { background-color: #D2493D }
.watermelon   { background-color: #D22D35 }
.asparagus    { background-color: #6CA33C }
.aubergine    { background-color: #583E68 }
.avocado      { background-color: #F1E57C }
.beans        { background-color: #70A245 }
.broccoli     { background-color: #4E7329 }
.cabbage      { background-color: #A4E869 }
.cauliflower  { background-color: #F7E87D }
.carrot       { background-color: #ED8F20 }
.chili        { background-color: #D13834 }
.chives       { background-color: #8BA075 }
.corn         { background-color: #F5C907 }
.cucumber     { background-color: #456D1D }
.garlic       { background-color: #D3D3D3 }
.mushrooms    { background-color: #D7CC56 }
.olives       { background-color: #446B1C }
.onion        { background-color: #9D414B }
.peas         { background-color: #69A039 }
.pepper       { background-color: #A4E869 }
.pumpkin      { background-color: #EF771D }
.radish       { background-color: #D75B4B }
.salad        { background-color: #87BF56 }
.tomato       { background-color: #D13834 }
.chocolate    { background-color: #5A311E }
.coffee       { background-color: #4E332E }
.eggs         { background-color: #EACBA2 }
.grain        { background-color: #F0BD3E }
.oil          { background-color: #F2D949 }
.milk         { background-color: #E9E9E9 }
.joghurt      { background-color: #FFFFFF }
